@import "@/styles/variables.scss";

.layout {
  width: 100%;
}

.options {
  @include options-style;

  .minMax-wrapper {
    display: flex;
    input {
      width: 100px;
      border-radius: 5px;
      @include border;
      padding: 6px 15px;
    }
    span {
      margin: 0 10px;
    }
  }
}
