@import "@/styles/editor.scss";
@import "@/styles/variables.scss";

.confirm-hard-content {
  @include modal-style;
  padding: 25px;
  h1 {
    @include title-style;
    margin-bottom: 10px;
  }
  .desc {
    @include description-style;
    margin-bottom: 30px;
  }

  .title {
    @include input-title;
    h2 {
      font-size: 15px;
    }
    p {
      font-size: 13px;
    }
    &:last-of-type {
      margin-top: 15px;
    }
  }

  input,
  .input {
    width: 100%;
    padding: 14px 0 14px 12px;
    border-radius: 5px;
    @include font-16;
    @include border;

    &:disabled {
      color: var(--black-soft);
    }

    &::placeholder {
      color: var(--gray);
    }
    &:focus {
      border-color: var(--green);
    }
  }

  .confirmPassword {
    margin-top: 5px;
  }
}

.btn-wrapper {
  @include btn-layout-style;
  button {
    @include btn-submit-style;
    span {
      @include font-bold;
    }
  }
}

.confirmId {
  width: 100%;
  position: relative;
}

.clip-board {
  @include absolute-y;
  right: 10px;
}
