@import "@/styles/variables.scss";

.layout {
  width: 100%;
  @include flex-y;
  flex-direction: column;
}

.check-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.list-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 7px;
  padding: 3px 5px;
  border-radius: 10px;
  // background-color: var(--white);
  .icon {
    @include flex;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: var(--gray-soft);
    svg {
      font-size: 18px;
    }
  }
}

.icon-change {
  position: absolute;
  @include flex;
  z-index: 10;

  top: 50%;
  right: calc(16px + 5px + 5px + 5px);
  transform: translateY(-50%);
  button {
    padding: 5px;
    border-radius: 100%;
    background-color: var(--gray);
    @include flex;
    svg {
      width: 15px;
      height: 15px;
      font-size: 13px;
      color: var(--white);
    }
    @include action {
      background-color: var(--blue);
    }
    @include mobile {
      &:active {
        background-color: var(--blue);
      }
    }
  }
}

.content {
  @include flex-y;
  position: relative;
}

// list style -> list-wrapper
.list-wrapper.check {
  .icon {
    background-color: var(--green-soft);
    svg {
      color: var(--green);
    }
  }
}
.list-wrapper.uncheck {
  .icon {
    background-color: var(--red-soft);
    svg {
      color: var(--red);
    }
  }
  input,
  span {
    font-weight: 700;
  }
}
.list-wrapper.underline {
  .icon {
    background-color: rgba(128, 0, 128, 0.8);
    svg {
      color: #f0f0f0;
      font-size: 16px;
    }
  }
  span {
    font-style: italic;
  }
}
.list-wrapper.caution {
  .icon {
    background-color: var(--black-soft);
    svg {
      color: #ffd700;
      font-size: 16px;
      margin-bottom: 2px;
    }
  }
  span {
    position: relative;
    width: auto;
    &::after {
      content: "";
      position: absolute;
      z-index: 10;
      bottom: 0px;
      left: 0;
      height: 6px;
      width: 100%;
      background-color: rgb(255, 215, 0, 0.2);
    }
  }
}

.input {
  @include input-style;
  @include description-style(true);
  padding: 5px;
}
.text {
  @include description-style(true);
}
