@import "@/styles/variables.scss";

.btn-wrapper {
  @include flex;
}

.icon {
  border-radius: 100%;
  @include flex;
  svg {
    font-size: 17px;
    color: var(--gray);
  }
  @include action {
    background: var(--blue);
    svg {
      color: var(--white);
    }
  }
}
