@import "@/styles/variables.scss";

.btn-wrapper {
  @include flex;
}

.icon {
  border-radius: 100%;
  @include flex;
  @include wh-30;
  svg {
    font-size: 17px;
    color: var(--gray);
  }
  @include mobile {
    @include wh-35;
    svg {
      font-size: 22px;
    }
  }
  @include action {
    background: var(--blue);
    svg {
      color: var(--white);
    }
  }
  @include mobile {
    &:active {
      background: var(--blue);
      svg {
        color: var(--white);
      }
    }
  }
}
