@import "@/styles/variables.scss";

.wrapper {
  width: 100%;
  position: relative;
  // height: calc(100svh - 50px - 50px - 32px);
  // max-height: calc(100svh - 50px - 50px - 32px);
  height: 100%;
  max-height: 100%;
  // min-height: 600px;

  position: relative;
  overflow: hidden;
  @include flex;
  flex-direction: column;
}

.main {
  width: 100%;
  max-width: 380px;

  // textarea {
  //   text-align: center;
  // }
  // .title-input {
  //   @include title-style();
  //   margin-bottom: 10px;
  // }
  // .description-input {
  //   @include description-style();
  //   margin-bottom: 15px;
  // }
}

.mobile {
  height: calc(620px - 20px);
  .thumbnail {
    height: 180px;
  }
  .title {
    @include title-style();
    text-align: center;
    margin-bottom: 10px;
  }
  .description {
    @include description-style();
    text-align: center;
    margin-bottom: 15px;
  }
}

.thumbnail {
  width: 100%;
  height: 230px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
  @include flex;
  flex-direction: column;

  //
  border-radius: 15px;

  // .drop-zone {
  //   width: 100%;
  //   height: 100%;
  //   @include flex;
  //   svg {
  //     color: var(--input-color);
  //     font-size: 40px;
  //   }

  //   &::before {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: calc(100% - 30px);
  //     height: calc(100% - 30px);
  //     border: 15px solid var(--input-color);
  //   }

  //   @include action {
  //     svg {
  //       color: var(--pink-soft);
  //     }
  //     &::before {
  //       border-color: var(--pink-soft);
  //     }
  //   }
  //   &.active {
  //     svg {
  //       color: var(--pink-soft);
  //     }
  //     &::before {
  //       border-color: var(--pink-soft);
  //     }
  //   }
  // }
}

.cta-wrapper {
  width: 100%;
  @include flex;
  .cta {
    width: 220px;
    border-radius: 100px;
    background-color: white;
    padding: 15px 20px;
    // input,
    span {
      text-align: center;
      font-size: 15px;
      font-weight: 600;
      line-height: 1.3;
    }
  }
}
