@import "@/styles/variables.scss";
@import "../thumbnail.module.scss";

@include thumbnail-common-style;

.wrapper {
  width: 100%;
  position: relative;
  height: auto;
  max-height: 600px;
  min-height: auto;
  @include flex($col: true);
  padding-bottom: 25px;

  .background {
    width: 100%;
    height: 130px;
  }
}

.main {
  width: 100%;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 70px 1fr;
  gap: 20px;
  .title-input,
  .description-input {
    @include input-style;
  }

  h1,
  .title-input {
    @include title-style($isSmall: true);
    font-weight: 700;
  }

  .description-input,
  p {
    margin-top: 2px;
    @include description-style($isSmall: true);
  }

  &.emoji {
    grid-template-columns: 40px 1fr;

    .thumbnail {
      width: 50px;
      height: 50px;
      border-radius: 0px;
      box-shadow: none;
    }
  }
}

.content {
  padding-top: 10px;
}

.thumbnail {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
  @include flex;
  border: 1px dashed var(--border);
  transform: translateY(-35px);
  @include shadow;
  &.isDisplayMode {
    border: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cta-wrapper {
  width: 100%;
  margin-top: 12px;
  display: flex;
  justify-content: flex-start;
  .cta {
    display: flex;
    align-items: center;

    input,
    span {
      width: auto;
      font-size: 16px;
      line-height: 1.1;
      font-weight: 700;
    }
    input {
      @include input-style;
    }
    svg {
      font-size: 16px;
      margin-left: 5px;
    }
  }
}
