@import "@/styles/variables.scss";

.edit-inputs {
  width: 100%;
  margin-bottom: 30px;

  input {
    width: 100%;
    @include input-style;
    max-width: 400px;
  }
  .title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .description {
    font-size: 13px;
  }
}
