@import "@/styles/variables.scss";
@import "@/styles/editor.scss";

@keyframes shakeY {
  from {
    transform: translate3d(-50%, 4px, 0);
  }

  15% {
    transform: translate3d(-50%, 0, 0);
  }
  30% {
    transform: translate3d(-50%, 4px, 0);
  }
  to {
    transform: translate3d(-50%, 4px, 0);
  }
}

.layout {
  width: 100%;
  padding-top: 100px;
  @include flex;
  flex-direction: column;

  h1 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
  }
}
.deploy-wrapper {
  width: 100%;
  position: relative;
  .float-message {
    position: absolute;
    top: -30px;
    left: 50%;
    animation: shakeY 1700ms ease-in-out infinite;
    p {
      font-size: 13px;
      color: var(--green-hard);
      font-weight: 700;
    }
  }
}

.deploy {
  @include btn-submit-style;
  margin: 0 auto;
  span {
    font-size: 14px;
  }
}

.undeploy {
  margin-top: 15px;
  span {
    color: var(--gray-hard);
    font-size: 14px;
  }
}
