@import "@/styles/variables.scss";
@import "@/styles/editor.scss";

.layout {
  width: 100%;
  padding-top: 40px;
  @include flex-x;
  flex-direction: column;

  h1 {
    @include header-style;
    margin-bottom: 50px;
  }

  h3 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
  }
}

.options {
  @include flex(true);
  gap: 20px;
  margin-bottom: 70px;
}

.option-bar {
  width: 100%;
  @include flex(true);

  max-width: 300px;
  border-radius: 20px;
  padding: 25px 0;
  background-color: var(--bg-color);

  .content {
    @include toggle-bar;
  }
}

.option-ratio {
  width: 100%;

  max-width: 300px;
  border-radius: 20px;
  padding: 25px 0;
  background-color: var(--bg-color);

  .content {
    @include ratio-content;
  }
}

.option-link {
  width: 100%;
  @include flex($col: true);

  max-width: 300px;
  border-radius: 20px;
  padding: 25px 0;
  background-color: var(--bg-color);

  input {
    width: 100%;
    max-width: 220px;
    @include input-style;
    @include description-style;
    text-align: center;
    background-color: var(--white);
  }
}

.deploy-wrapper {
  width: 100%;
  @include flex;
}
.deploy {
  @include btn-submit-style;
}
