@import "@/styles/variables.scss";

.toolbar-grid {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 1fr 1fr;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--border);

  button {
    margin-right: 4px;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
  }
}
