@import "@/styles/variables.scss";

//profile
.page-info {
  background-color: var(--white);
  padding: 50px 0;
  @include flex(true);
  position: relative;
  picture {
    img {
      max-width: 350px;
      aspect-ratio: 16 / 9;
      margin: 0 auto;
      padding: 5px;
      object-fit: cover;
      margin-bottom: 25px;
      z-index: 10;
      position: relative;
      background-color: var(--white);
      @include border;
      @include shadow;
    }
  }
  h1 {
    max-width: 350px;
    font-size: 22px;
    color: var(--black-soft);
    margin-bottom: 10px;
  }
  .description {
    max-width: 350px;
    text-align: center;
    font-size: 14px;
    color: var(--black-soft);
    padding-bottom: 20px;
    margin-bottom: 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      min-width: 50px;
      max-width: 100px;
      height: 2px;
      background-color: var(--border);
    }
  }
}

.analytics {
  width: 100%;
}
