@import "@/styles/variables.scss";

.search {
  position: sticky;
  top: 0;
  @include p-16;
  background-color: var(--white);
  margin-bottom: 30px;
  overflow: hidden;
  transition: all 220ms ease-in-out;
  height: auto;
  @include medium {
    height: 73px;
    &.isFocus {
      height: auto !important;
    }
  }
}
