@import "@/styles/variables.scss";

.range {
  @include flex;
  gap: 5px;
  flex-wrap: wrap;
}

.top {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
