@import "@/styles/variables.scss";

.empty {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  background-color: var(--border);
}

.iframe {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}
