@import "@/styles/variables.scss";

.wrapper {
  position: relative;
  visibility: visible;
  z-index: 0;
  &.visible {
    position: relative;
    visibility: visible;
    z-index: 0;
  }
  &.hide {
    visibility: hidden;
    position: fixed;
    z-index: -1;
  }
}
