@import "@/styles/variables.scss";

.header {
  width: 100%;
  padding: 5px 8px;
  min-height: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  @include z-index(header);
  .left {
    position: relative;
    z-index: 20;
    height: 30px;
    @include flex-y;
    @include medium {
      height: 35px;
    }
    .logo {
      @include flex-y;
      gap: 7px;
      img {
        width: 30px;
        height: 30px;
      }
      span {
        font-size: 16px;
        font-weight: 700;
        color: #666666f7;
        letter-spacing: 0.5px;
      }
    }
  }
  .nav {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }

  border-bottom: 1px solid var(--border);
  background-color: var(--white);
  transform: translateY(-48px);
  transition: 300ms all;
  &.visible {
    transform: translateY(0);
  }
  @include medium {
    height: auto;
    transform: translateY(-95px);
    .inner {
      display: none;
    }
    .nav {
      margin-bottom: 5px;
    }
  }
}

.mobile-nav {
  padding: 5px 0;
  display: none;
  @include medium {
    display: block;
  }
  .slider {
    height: 35px;

    .slide {
      width: auto;
      border-radius: 20px;
      transition: 300ms all;
    }

    :global {
      .swiper-slide-prev,
      .swiper-slide-next {
        opacity: 0.5;
        transform: scale(0.7);
        background-color: var(--gray-soft);
      }
      .swiper-slide-active {
        background-color: var(--blue);
        span {
          color: var(--white);
        }
      }
    }
  }

  button {
    width: 100%;
    height: 100%;
    @include flex;
    padding: 7px 20px;
    span {
      font-size: 15px;
      font-weight: 600;
      transition: 300ms all;
      color: var(--black-soft);
      white-space: nowrap;
    }
  }
}

.progress {
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 3px;
  background-color: var(--blue);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 400ms ease-in-out width;
}

.inner {
  @include center;

  width: 1000px;

  @include flex;
  gap: 15px;
  @include mobile {
    width: 100%;
    gap: 10px;
  }
  .list {
    width: 33%;
    max-width: 130px;
    height: 32px;
    button {
      width: 100%;
      height: 100%;
      @include flex;
      border-radius: 20px;
      span {
        color: var(--black-soft);
        font-size: 14px;
      }
      &.active {
        background-color: var(--blue);
        span {
          color: var(--white);
        }
      }
    }
  }
}

.right {
  position: relative;
  z-index: 10;
  height: 100%;
  @include flex-y;
  gap: 10px;
}

.ghost {
  height: calc(50px);
  @include medium {
    height: 96px;
  }
}
