@import "@/styles/variables.scss";

.btn-wrapper {
  position: absolute;
  top: calc(-50px);
  right: 10px;
  z-index: 1100;

  display: none;
  @include medium {
    display: block;
  }
  button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--pink);
    @include shadow;
    svg {
      font-size: 20px;
      color: var(--white);
    }
  }
}
