@import "@/styles/variables.scss";

.layout {
  width: 100%;
}

.options {
  @include options-style;
  .date {
    &.isAlways {
      span,
      input {
        color: var(--gray);
      }
    }
    .date-title {
      text-align: center;
      margin-bottom: 10px;
    }
    input[type="date"] {
      margin-left: 10px;
      border-radius: 5px;
      @include border;
      padding: 6px 15px;
    }
  }
}
