@import "@/styles/editor.scss";
@import "@/styles/variables.scss";

.content {
  @include modal-style;
  padding: 15px;
}

.list-wrapper {
  padding: 4px;
  width: 100%;
  max-height: 400px;
  overflow: scroll;

  h3 {
    font-size: 15px;
    font-weight: 600;
  }
  p {
    margin-top: 5px;
    font-size: 13px;
  }
  li {
    position: relative;
    div[data-type="selected"] {
      @include center;
      @include flex;
      width: 35px;
      height: 35px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 100%;
      svg {
        font-size: 25px;
        color: var(--green-hard);
      }
    }
  }
}

.thumb-list-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}

.basic-list-wrapper {
  @include flex;
  flex-direction: column;
  gap: 3px;
}

.no-list {
  @include no-list;
}

.btn-wrapper {
  @include btn-layout-style;
  margin-top: 5px;
  @include flex(true);
  gap: 10px;
  .select-none {
    @include btn-sub-style;
    padding: 5px 0;
  }
  .select-multiple {
    @include btn-submit-style;
  }
}
