@import "@/styles/variables.scss";

//profile
.profile {
  background-color: var(--white);
  padding: 50px 0;
  @include flex(true);
  position: relative;
  .user-icon {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 100%;
    margin-bottom: 25px;
    z-index: 10;
    position: relative;
    @include border;
    @include shadow;
    @include flex;
    background-color: var(--white);
    div {
      @include flex;
      width: 110px;
      height: 110px;
      border-radius: 100%;
      background-color: var(--blue);
      span {
        font-size: 50px;
        color: var(--white);
      }
    }
  }
  h1 {
    font-size: 22px;
    color: var(--black-soft);
    margin-bottom: 10px;
  }
  .plan {
    min-width: 50px;
    max-width: 100px;
    text-align: center;
    font-size: 14px;
    color: #0a59aeda;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--border);
    margin-bottom: 30px;
  }

  .info-layout {
    width: 330px;
    @include border;
    border-radius: 20px;
    background-color: var(--gray-softest);
    border: 2px solid var(--blue-soft);
  }

  .info-menu {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    li {
      button {
        @include flex(true);
        gap: 12px;
        width: 100%;
        padding: 20px 15px;
        .icon {
          svg {
            font-size: 18px;
            color: var(--gray-hard);
          }
        }
        span {
          font-size: 13px;
        }
        @include action {
          background-color: rgba($color: #a6a6a6, $alpha: 0.05);
        }
        &.active {
          background-color: rgba($color: #a6a6a6, $alpha: 0.05);
        }
      }
    }
    li:nth-child(2) {
      position: relative;
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 2px;
        height: 30%;
        transform: translateY(-50%);
        background-color: var(--border);
      }
      &::after {
        right: 0;
      }
      &::before {
        left: 0;
      }
    }
  }

  .info-submenu {
    width: 100%;
    padding: 10px 0;
    span {
      font-size: 14px;
    }
    a,
    button {
      width: 100%;
      padding: 15px 10px;
      @include flex;
      @include action {
        background-color: rgba($color: #a6a6a6, $alpha: 0.05);
      }
    }
  }
}
