@import "@/styles/editor.scss";
@import "@/styles/variables.scss";

.layout {
  width: 100%;
}

.options {
  @include options-style;
}

.phone-wrapper {
  width: 100%;
  position: relative;
  img {
    @include absolute-y;
    left: 14px;
    margin-right: 10px;
  }
  input {
    padding-left: 50px !important;
  }
  .phone {
    width: 100%;
  }
}
