@import "@/styles/variables.scss";

.grid {
  display: grid;
  gap: 5px;

  .title {
    width: 100%;
    margin-top: 3px;
  }

  .loading {
    @include skeleton;
  }
  .photo-background {
    width: 100%;
    background-color: var(--border);
  }

  &.width {
    .photo,
    .loading {
      height: 200px;
    }
    &.gridTwo {
      .photo,
      .loading {
        height: 160px;
      }
    }
    .title {
      @include description-style;
    }
  }
  &.length {
    .photo,
    .loading {
      height: 100%;
    }
    &.gridTwo {
      .photo,
      .loading {
        height: 270px;
      }
    }
    .title {
      @include description-style(true);
    }
  }
}

.display {
  padding: 0 10px;
}

.photo-wrapper {
  height: 100%;
  .photo {
    position: relative;
    @include flex;
    background-color: var(--blue-soft);
    img {
      background-color: rgba(82, 82, 82, 0.1);
      position: relative;
      z-index: 10;
      object-fit: cover;
      @include wh-full;
    }
    .background {
      @include full;
      filter: grayscale(30%);
    }
  }
}

.noImage {
  width: 100%;
  height: 200px;
  @include flex;
  span {
    color: var(--gray);
    font-size: 20px;
  }
}

.input {
  @include input-style(true);
}
