@import "@/styles/variables.scss";

.saving {
  background-color: var(--green) !important;
  svg {
    color: var(--white) !important;
  }
  @include action {
    background-color: var(--green);
    svg {
      color: var(--white);
    }
  }
  @include mobile {
    &:active {
      background-color: var(--green) !important;
      svg {
        color: var(--white) !important;
      }
    }
  }
}
