@import "@/styles/editor.scss";
@import "@/styles/variables.scss";

.layout {
  width: 100%;
}

.options {
  @include options-style;
}

.time-bars {
  margin-bottom: 30px;
}

.option-time-picker {
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 7px;
  margin-bottom: 30px;

  @include mobile {
    max-width: none;
  }

  .time-min-max {
    flex-grow: 1;
    padding: 15px;
    border-radius: 5px;
    border: 1px dashed var(--border);
    background-color: var(--gray-softest);
    input {
      width: 100%;
      font-size: 16px;
    }
  }
}

.specific-time-picker {
  width: 100%;
  max-width: 300px;

  @include mobile {
    max-width: none;
  }

  input[type="time"] {
    padding: 15px;
    font-size: 14px;
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 7px;
    background-color: var(--gray-softest);
    border-radius: 5px;
    border: 1px dashed var(--border);
  }

  .time-submit {
    margin: 5px 0;
    button {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      background-color: var(--blue);
      padding: 8px 18px;
      span {
        font-size: 15px;
        color: var(--white);
      }
    }
  }
}

.times {
  margin-bottom: 30px;
  width: 100%;
  max-width: 300px;
  display: flex;
  gap: 10px 5px;
  flex-wrap: wrap;
  button {
    font-size: 15px;
    padding: 10px 15px;
    background-color: var(--white);
    border: 1px solid var(--blue);
    border-radius: 5px;
  }
}
