@import "@/styles/variables.scss";

.layout {
  width: 100%;
}

.time-add {
  @include flex;
  flex-direction: column;

  button {
    padding: 7px 15px;
    font-size: 13px;
    background-color: var(--pink);
    color: var(--white);
    border-radius: 5px;
    margin-top: 10px;
  }
}

.times {
  padding: 15px;
  background-color: var(--gray-softest);
  width: 100%;
  max-width: 300px;
  display: flex;
  gap: 10px 5px;
  flex-wrap: wrap;
  button {
    font-size: 14px;
  }
}

.options {
  @include options-style;
  input[type="time"] {
    margin-left: 10px;
    border-radius: 5px;
    @include border;
    padding: 6px 15px;
  }
}
