@import "@/styles/variables.scss";

.layout {
  padding-bottom: 16px;
  &.isDisplayMode {
    padding-bottom: 0;
  }
}

.slider-layout {
  input,
  textarea {
    @include input-style($isSmall: true);
  }

  .title {
    word-break: break-all;
  }
  .description {
    white-space: pre-line;
    word-break: break-all;
  }
}

.slider {
  padding: 20px 10px;
}

.slide {
  // circle design =======
  &.circle {
    input,
    textarea,
    .title,
    .description {
      text-align: center;
    }
    .slide-inner {
      width: 100%;
      padding: 20px 10px;
      background-color: var(--white);
      border-radius: 10px;
      border: 1px solid var(--blue-soft);
      @include shadow;
      min-height: 190px;

      .card-loading {
        width: 80px;
        height: 80px !important;
        margin: 0 auto;
        margin-bottom: 10px;
        border-radius: 100%;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
      }
      .card-image {
        margin-bottom: 10px;
        overflow: visible;
        @include flex;
        .image {
          img {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
          }
        }
      }
      .content {
        padding: 0;
        .title-input,
        .title {
          @include small-text-style;
        }
        .description-input,
        .description {
          @include small-text-style($moreSmall: true);
        }
      }
    }
  }

  // card design =======
  &.card {
    .slide-inner {
      border-radius: 10px;
      overflow: hidden;
      border: 1px solid var(--border);
      @include shadow;
      .card-image {
        border-radius: 0;
        border-bottom-left-radius: 30px;
        position: relative;
        img {
          position: absolute;
          top: 0;
          left: 0;
          height: calc(100% + 30px);
        }
      }
      .content {
        padding: 10px 20px 20px 10px;
        min-height: 90px;
        border-top-right-radius: 30px;
        position: relative;
        z-index: 10;
        background-color: var(--white);
      }
    }
  }
}

// basic design =======
.slide-inner {
  @include wh-full;
  position: relative;

  .card-image {
    width: 100%;
    border-radius: 3px;
    .image {
      img {
        background-color: rgba(82, 82, 82, 0.1);
        @include wh-full;
        object-fit: cover;
      }
    }
  }

  .card-loading {
    @include skeleton;
  }
  .content {
    padding: 5px 2px;
    .title-input,
    .title {
      @include title-style($isSmall: true);
      font-weight: 600;
    }
    .description-input,
    .description {
      margin-top: 3px;
      @include description-style($isSmall: true);
    }

    //
    .title,
    .description {
      padding: 0;
    }
  }
}
