@import "@/styles/variables.scss";

.slider-layout {
  margin-bottom: 15px;
  input,
  textarea {
    @include input-style;
  }
}

.slide {
  width: 210px;

  &.circle {
    width: 150px;
    input,
    textarea {
      text-align: center;
    }
    .card-image {
      padding: 5px 15px;
      height: 130px;
      margin-bottom: 10px;
      overflow: visible;
      .image {
        border-radius: 100%;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
      }
    }
    .content {
      padding: 0;
    }
  }
}
.card {
  width: 100%;
  height: 100%;
  position: relative;

  .card-image {
    width: 100%;
    height: 160px;
    border-radius: 10px;
    overflow: hidden;
    .image {
      width: 100%;
      height: 100%;
    }
  }
  .content {
    padding: 10px 2px;
    .title-input {
      @include title-style($isSmall: true);
      padding: 4px;
      font-weight: 600;
    }
    .description-input {
      @include description-style($isSmall: true);
      padding: 4px;
      margin-top: 3px;
    }
  }
}

.thumb {
  margin-bottom: 15px;
  .photo {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 8px;
  }
  input {
    @include title-style();
  }
  textarea {
    margin-top: 5px;
    @include description-style();
  }
}

.thumb-list {
  height: 70px;
  .thumb-list-slide {
    height: 100%;
    opacity: 0.5 !important;
    .photo {
      border-radius: 5px;
      height: 100%;
      width: 100%;
    }
  }
  :global {
    .swiper-slide-thumb-active {
      opacity: 1 !important;
    }
  }
}

.noImage {
  width: 100%;
  height: 200px;
  @include flex;
  span {
    color: var(--gray);
    font-size: 20px;
  }
}
