@import "@/styles/variables.scss";
@import "../style.module.scss";

@include qna;

.title-wrapper {
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.title-inner {
  width: 100%;

  .title {
    width: 100%;
    @include font-bold;
    white-space: pre-line;
    word-break: break-all;
  }
}

.list.isOpen {
  .arrow {
    transform: rotateX(180deg);
  }
}

.content-wrapper {
  overflow: hidden;
}
