@import "@/styles/variables.scss";

.qna-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .title {
    border-radius: 5px;
    @include border;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    textarea {
      width: 100%;
      font-size: 17px;
      font-weight: 600;
      line-height: 1.3;
      padding: 3px 5px;
    }
    .icon {
      padding: 5px;
      svg {
        font-size: 17px;
      }
    }
    .q {
      align-self: flex-start;
      display: flex;
    }
    .arrow {
      transition: transform 450ms;
    }
  }
  .content-layout {
    border-radius: 5px;
    background-color: var(--gray-softest);
    transition: max-height 500ms ease-out;
    overflow: hidden;
  }

  .list {
    width: 100%;
    .content-layout {
      display: none;
    }
    &.isOpen {
      .content-layout {
        padding: 10px;
        display: block;
      }
      .icon {
        color: var(--pink);
      }
      .arrow {
        transform: rotateX(180deg);
      }
    }
  }
}
