@import "@/styles/variables.scss";

.wrapper {
  width: 100%;
  position: relative;
  height: calc(100svh - 50px - 50px - 32px);
  max-height: calc(100svh - 50px - 50px - 32px);
  min-height: 600px;
  overflow: hidden;
  @include flex;
  flex-direction: column;

  &.card {
    height: auto;
    max-height: 600px;
    min-height: auto;
    padding-bottom: 25px;

    .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 150px;
      border-bottom-left-radius: 60px;
    }
  }
}

.main {
  width: 100%;
  max-width: 300px;
  border: 1px solid transparent;

  .title-input,
  .description-input {
    @include input-style;
  }

  .title {
    @include title-style;
    text-align: center;
  }
  .description {
    margin-top: 10px;
    @include description-style;
    text-align: center;
  }

  h1 {
    word-wrap: break-word;
  }
  p {
    white-space: pre-line;
    word-break: break-all;
  }

  &.full {
    border: none;
  }
  &.card {
    width: calc(100% - 60px);
    max-width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    z-index: 10;
    background-color: var(--white);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 12px 23px rgba(0, 0, 0, 0.08);
  }
}

.thumbnail {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  @include flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);

  border: 1px dashed var(--border);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.isDisplayMode {
    border: none;
  }

  &.card {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid transparent;
  }
}

.drop-zone {
  @include full;
  @include flex;

  svg {
    color: var(--gray);
    font-size: 40px;
  }

  @include action {
    svg {
      color: var(--pink-soft);
    }
    &::before {
      border-color: var(--pink-soft);
    }
  }
}

.cta-wrapper {
  width: 100%;
  @include flex;
  margin-top: 20px;
  .cta {
    width: 220px;
    border-radius: 100px;
    background-color: white;
    padding: 15px 20px;
    input,
    span {
      text-align: center;
      font-size: 15px;
      font-weight: 600;
      line-height: 1.3;
    }
  }
}

.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.arrow a {
  position: relative;
  padding-top: 80px;
}
.arrow a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid var(--gray);
  border-bottom: 2px solid var(--gray);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
.arrow a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.arrow a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.arrow a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
