@import "@/styles/variables.scss";
@import "@/styles/editor.scss";

.main {
  background-color: var(--bg-color);
  width: 100%;
  position: relative;
  .content {
    background-color: var(--white);
    width: 100%;
    min-height: 100svh; // check :

    max-width: 500px;
    margin: 0 auto;
    position: relative;
    padding: 30px;
    @include medium {
      padding-bottom: 100px;
    }
  }
}

.btn-wrapper {
  @include btn-layout-style;
  margin-top: 100px;
  padding-bottom: 150px;
  button {
    @include btn-submit-style;
  }
}
