@import "@/styles/variables.scss";

.contact {
  .main {
    display: flex;
    align-items: center;
    flex-direction: column;

    .btn-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      a,
      button {
        img {
          transition: 200ms all;
        }
        @include action {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
