@import "@/styles/variables.scss";

@include getAnimation;

.overlay {
  @include full(fixed);
  background-color: rgba($color: #000000, $alpha: 0.3);
  @include flex;
  opacity: 0;
  transition: opacity 500ms;
  animation: comp-hide 500ms forwards;
  &.isAbsolute {
    position: absolute;
  }
  &.isLoading {
    opacity: 1;
    animation: comp-visible 500ms forwards;
    @include z-index(overlay);
  }
}
