@import "@/styles/variables.scss";

.layout {
  .label {
    @include label-style();
  }
  .title {
    margin-top: 5px;
    @include title-style();
  }
  .description {
    // margin-top: 10px;
    margin-top: 5px;
    @include description-style();
  }
}

.label-wrapper {
  width: 100%;
  display: flex;
}
