@import "@/styles/variables.scss";
@import "@/styles/editor.scss";

.layout {
  width: 100%;

  .slider {
    .slide {
      width: 110px;
    }
    .btn {
      width: 100%;
      height: 80px;
      border-radius: 5px;
      border: 2px solid var(--gray-softest);
      background-color: var(--gray-softest);
      @include flex(true);
      gap: 7px;

      .icon {
        svg {
          font-size: 20px;
          color: var(--gray);
        }
      }
      image {
        width: 20px;
        height: 20px;
      }
      .name {
        font-size: 13px;
      }
      &.active {
        border-color: var(--pink-soft);
        svg {
          color: var(--pink-soft);
        }
        .name {
          color: var(--pink-hard);
        }
      }
    }
  }
}

.prev,
.next {
  @include swiper-arrow-style;
}
.prev {
  left: 2px;
}
.next {
  right: 2px;
}
