@import "@/styles/variables.scss";

.content {
  @include modal-style;
  h2 {
    font-size: 17px;
    margin: 10px 0;
  }
}

.menu {
  width: 100%;
  @include flex-y;
  gap: 8px;
  padding-bottom: 5px;
  background-color: var(--blue-soft);
  padding: 10px 15px;
  button {
    border-radius: 7px;
    padding: 8px 15px;
    span {
      font-size: 14px;
      line-height: 1.2;
    }
    &.active {
      background-color: var(--blue);
      span {
        color: var(--white);
      }
    }
  }
}

.main {
  padding: 15px;
}
