@import "@/styles/variables.scss";

.layout {
  .label-input {
    @include label-style($input: true);
  }
  .title-input {
    margin-top: 5px;
    @include header-style($input: true);
  }
  .description-input {
    margin-top: 10px;
    @include description-style($input: true);
  }
}

.label-wrapper {
  width: 100%;
  display: flex;
}
