@import "@/styles/variables.scss";

.layout {
  input,
  textarea {
    @include input-style;
  }
  .label-input {
    @include label-style;
  }
  .title-input {
    margin-top: 5px;
    @include title-style;
  }
  .description-input {
    margin-top: 10px;
    @include description-style;
  }
}

.label-wrapper {
  width: 100%;
  display: flex;
}
