@import "@/styles/variables.scss";

.spinner {
  @include wh-35;
  display: grid;
  animation: spinner 4s infinite;
  &.isFull {
    width: 60px;
    height: 60px;

    .before,
    .after {
      border-width: 10px;
    }
  }
}

.before,
.after {
  grid-area: 1/1;
  border: 6px solid;
  border-radius: 50%;
  border-color: var(--blue-hard) var(--blue-hard) #0000 #0000;
  mix-blend-mode: darken;
  animation: spinner 1s infinite linear;
}

.after {
  border-color: #0000 #0000 var(--blue-soft) var(--blue-soft);
  animation-direction: reverse;
}

@keyframes spinner {
  100% {
    transform: rotate(1turn);
  }
}
