@import "@/styles/editor.scss";
@import "@/styles/variables.scss";

.layout {
  width: 100%;
}

.title {
  @include input-style;
  @include title-style;
  margin-bottom: 10px;
}

.options {
  margin-top: 15px;
  @include flex-col;
  gap: 10px;
}

.date-picker-layout {
  width: 100%;
  padding: 15px;
  .btn-wrapper {
    @include btn-layout-style;
    .pickDate {
      @include btn-submit-style;
    }
    .anyDate {
      @include btn-sub-style;
    }
  }
  &.isOptionCalender {
    padding: 0;
  }
}

.date-picker {
  .header {
    width: 100%;
    @include flex-between;
    padding: 10px;
    margin-bottom: 5px;
    p {
      font-weight: 600;
      text-align: center;
    }
  }
  .week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 5px;
    align-items: center;
    padding: 10px 0;
    p {
      font-size: 15px;
      @include flex;
    }
  }
  .main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px 0;
    button {
      padding: 10px 0;
      font-size: 15px;
      &:hover {
        background-color: var(--green);
        color: var(--white);
      }
      &:disabled {
        color: var(--gray) !important;
        background-color: transparent !important;
        opacity: 1 !important;
        &:hover {
          background-color: transparent !important;
          color: var(--gray) !important;
        }
      }
    }
  }
}

.selected {
  background-color: var(--green);
  color: var(--white);
}

.in-range {
  opacity: 0.5;
  background-color: var(--green);
  color: var(--white) !important;
}

.will-be-in-range {
  opacity: 0.5;
  background-color: var(--green);
  color: var(--white);
}
