@import "@/styles/variables.scss";

.input-wrapper {
  padding-bottom: 10px;
}

.title {
  width: auto;
  display: flex;
  gap: 3px;
  align-items: flex-end;
  margin-bottom: 7px;
  h2 {
    font-size: 15px;
  }
  p {
    font-size: 13px;
  }
}

.input {
  width: 100%;
  max-width: 400px;
  cursor: pointer;

  .content {
    display: grid;
    grid-template-columns: 1fr 46px;
    border-radius: 5px;
    @include border;
    transition: 300ms all;
    .text {
      padding: 14px 0 14px 12px;
      width: 100%;
      display: flex;
      gap: 5px;
      flex-wrap: wrap;
      font-size: 16px;
      line-height: 1.2;
      letter-spacing: 1px;
    }
    input,
    textarea {
      width: 100%;
      display: flex;
      font-size: 16px;
      line-height: 1.2;
    }
    input {
      padding: 14px 0 14px 12px;
    }
    textarea {
      padding: 14px;
      line-height: 1.4;
    }
    .icon-wrapper {
      padding: 14px;
      width: 46px;
      height: 46px;
      position: relative;
      border-radius: 100%;
      .icon {
        @include full;
        @include flex;
        svg {
          transition:
            400ms opacity,
            300ms transform;
          font-size: 18px;
          color: var(--gray-hard);
        }
      }
      .before {
        svg {
          transform: translateX(0);
          opacity: 1;
        }
      }
      .after {
        svg {
          transform: translateX(-25px);
          opacity: 0;
        }
      }

      @include action {
        background-color: var(--gray-soft);
      }
      @include mobile() {
        &:active {
          background-color: rgba($color: #000000, $alpha: 0.1);
        }
      }
    }

    &.active {
      border-color: var(--green);
      .icon-wrapper {
        .before {
          svg {
            transform: translateX(25px);
            opacity: 0;
          }
        }
        .after {
          svg {
            transform: translateX(0);
            opacity: 1;
          }
        }
      }
    }
  }
}
