@import "@/styles/variables.scss";
@import "../thumbnail.module.scss";

@include thumbnail-common-style;

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: auto;
  max-height: 600px;
  min-height: auto;
  @include flex($col: true);
  padding-bottom: 25px;

  .background {
    @include full;
    height: 150px;
  }
}

.main {
  width: calc(100% - 60px);
  max-width: 300px;
  @include flex-y;
  flex-direction: column;
  margin-top: 80px;
  z-index: 10;
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 12px 23px rgba(0, 0, 0, 0.08);

  .title-input,
  .description-input {
    @include input-style;
  }

  h1,
  .title-input {
    @include title-style;
    font-size: 18px;
    text-align: center;
  }

  .description-input,
  p {
    margin-top: 6px;
    @include description-style($isSmall: true);
    text-align: center;
    line-height: 1.2;
  }
}

.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  @include flex;
  position: relative;
  border: 1px dashed var(--border);
  &.emoji {
    width: 50px;
    height: 50px;
    border-radius: 0px;
  }
  &.display {
    border: none;
  }

  img {
    @include wh-full;
    object-fit: cover;
  }
}

.cta-wrapper {
  width: 100%;
  @include flex;
  margin-top: 20px;
  margin-bottom: 10px;
  .cta {
    @include btn-submit-style;
    input,
    span {
      width: 100%;
      text-align: center;
      @include font-bold;
    }
    span {
      white-space: pre-line;
      word-break: break-all;
    }
  }
}
