@import "@/styles/variables.scss";

.form-title {
  width: auto;
  display: flex;
  gap: 3px;
  align-items: flex-end;
  margin-bottom: 7px;
  h2 {
    font-size: 15px;
  }
  p {
    font-size: 13px;
  }
}
