@import "@/styles/editor.scss";
@import "@/styles/variables.scss";

.layout {
  width: 100%;
}

.options {
  @include options-style;

  .title {
    @include title-style($isSmall: true);
    @include input-style;

    margin-bottom: 5px;
  }
  .description {
    @include description-style($isSmall: true);

    @include input-style;
  }

  .date {
    .date-title {
      text-align: center;
      margin-bottom: 10px;
    }
    input[type="date"] {
      margin-left: 10px;
      border-radius: 5px;
      @include border;
      padding: 6px 15px;
    }
  }
}

.option-date-picker {
  width: 100%;
}

.dates {
  padding: 15px;
  background-color: var(--gray-softest);
  width: 100%;
  max-width: 400px;
  display: flex;
  gap: 10px 5px;
  flex-wrap: wrap;
  justify-content: center;
  button {
    font-size: 14px;
    padding: 8px 15px;
    border: 1px solid var(--pink);
    background-color: var(--white);
    border-radius: 5px;
  }
}
