@import "@/styles/variables.scss";

.preview {
  position: fixed;
  top: 50%;
  left: 50%;
  @include flex;
  transform: translate(calc(-50% + 550px / 2), calc(-50%));
  width: var(--preview-width);
  height: 100vh; // check :
  border: 2px dotted var(--border);
  @include p-16;
  padding-top: 50px;
  background-color: var(--white);
  @include medium {
    @include t-l-0;
    @include z-index(preview);
    padding: 0;
    width: 100%;
    transform: translate(100%, 0);
    .phone {
      border: none;
      border-radius: 0px;
      @include wh-full;
    }
    &.active {
      transform: translate(0, 0);
    }
  }
}

.phone {
  @include wh-full;
  background-color: var(--white);
  position: relative;

  .submit {
    width: 100%;
    @include flex-x;
    margin-top: 40px;
    button {
      @include btn-submit-style;
    }
  }
}

.content {
  @include full;
  width: 100%;
  overflow: scroll;
  padding-bottom: 300px;

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
  &::-webkit-scrollbar-thumb {
    display: none; /* Chrome, Safari, Edge */
  }
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.btn-wrapper {
  position: fixed;
  top: 10px;
  right: 10px;
  @include z-index(preview-btn);

  display: none;
  @include medium {
    display: block;
  }

  button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--blue);
    @include shadow;
    svg {
      font-size: 20px;
      color: var(--white);
    }
  }
}
