@import "@/styles/variables.scss";
@import "@/styles/editor.scss";

.layout {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  @include flex-y;
  gap: 10px;
  padding: 10px 20px 10px 30px;
  border-radius: 5px;
  background-color: var(--gray-softest);
  position: relative;
  overflow: hidden;
  // @include shadow;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background-color: var(--gray);
    transition: 300ms all;
  }
  span {
    font-size: 13px;
  }
  .content {
    @include flex;
    .bar {
      width: 50px;
      padding: 3px 6px;
      background-color: var(--gray-soft);
      display: flex;
      align-items: center;
      border-radius: 30px;
      transition: 300ms all;
      .circle {
        width: 18px;
        height: 18px;
        border-radius: 100%;
        background-color: var(--gray);
        transition: 300ms all;
      }
    }
  }

  &.active {
    span {
      color: var(--pink-hard);
    }
    &::before {
      background-color: var(--pink);
    }
    .bar {
      background-color: var(--pink-soft);
      .circle {
        transform: translateX(21px);
        background-color: var(--white);
      }
    }
  }
}
