@import "@/styles/editor.scss";
@import "@/styles/variables.scss";

.layout {
  width: 100%;
}

.content {
  @include modal-style;
  padding: 15px;
  ul {
    width: 100%;
    @include grid-fr-2(5px);
    max-height: 500px;
    overflow: scroll;
    li {
      button {
        padding: 15px 10px;
        font-size: 15px;
        @include wh-full;
        background-color: var(--gray-soft);
        border-radius: 4px;
        @include action {
          background-color: var(--green);
          color: var(--white);
        }
      }
    }
  }
}

.btn-wrapper {
  @include btn-layout-style;
  .anyDate {
    @include btn-sub-style;
    padding: 0 0 5px 0;
  }
}
