@import "@/styles/variables.scss";

.list {
  @include flex-y;
  gap: 10px;
  cursor: pointer;
  padding: 15px 10px;
  width: 100%;
  &.imageWithText {
    padding: 10px;
  }
  .image {
    width: 80px;
    height: 60px;
    border-radius: 5px;
    overflow: hidden;
    img {
      @include wh-full;
      border-radius: 5px;
      object-fit: cover;
    }
    &.isEmoji {
      background-color: var(--blue-soft);
      @include flex;
      img {
        width: 45px;
        height: 45px;
        object-fit: contain;
      }
    }
  }
  .list-number {
    width: 80px;
    height: 60px;
    border-radius: 5px;
    background-color: var(--gray-soft);
    @include flex;
  }
  .number {
    width: 28px;
    height: 28px;
    background-color: var(--border);
    border-radius: 100%;
    @include flex;
    span {
      font-size: 14px;
      font-weight: 700;
      color: var(--white);
    }
  }
  &.active {
    background-color: var(--green-soft);
    color: var(--green-hover);
  }
  @include action {
    background-color: var(--green-soft);
    color: var(--green-hover);
  }
}
