@import "@/styles/variables.scss";

.image-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  @include flex;
  z-index: 10;
  button {
    padding: 8px;
    border-radius: 100%;
    background-color: var(--gray);
    @include flex;
    svg {
      width: 16px;
      height: 16px;
      font-size: 15px;
      color: var(--white);
    }
    @include action {
      background-color: var(--pink);
    }
  }
  &.small {
    button {
      padding: 5px;
      svg {
        width: 15px;
        height: 15px;
        font-size: 13px;
      }
    }
  }

  &.delete-list {
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
  }
}
