@import "@/styles/variables.scss";

.btn-wrapper {
  width: 100%;
  @include flex;
  padding-top: 30px;
  button {
    @include btn-submit-style;
    padding: 10px 15px;
    width: 150px;
    border-radius: 20px;
    position: relative;
    span {
      width: 100%;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.3;
    }
  }
}
