@import "@/styles/variables.scss";

@mixin options-minMax-style {
  display: flex;
  input {
    width: 100px;
    border-radius: 5px;
    @include border;
    padding: 6px 15px;
  }
  span {
    margin: 0 10px;
  }
}

@mixin btn-layout-style {
  width: 100%;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid var(--border);
  @include flex($col: true);
}

@mixin btn-sub-style {
  padding: 10px 0;
  color: var(--gray-hard);
  font-size: 15px;
  @include action {
    color: var(--black);
  }
}

@mixin options-style {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 25px 10px;
  border: 1px dashed var(--border);
  border-radius: 5px;
  h4 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
  }
}

@mixin toggle-bar {
  .bar {
    width: 50px;
    padding: 3px 6px;
    background-color: var(--gray-soft);
    display: flex;
    align-items: center;
    border-radius: 30px;
    transition: 300ms all;
    .circle {
      width: 18px;
      height: 18px;
      border-radius: 100%;
      background-color: var(--gray);
      transition: 300ms all;
    }
  }
  &.active {
    h4 {
      color: var(--pink-hard);
    }
    .bar {
      background-color: var(--pink-soft);
    }
    .circle {
      transform: translateX(21px);
      background-color: var(--white);
    }
  }
}

@mixin ratio-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px;
  .ratio-wrapper {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    .ratio {
      width: 20px;
      height: 20px;
      @include flex;
      border-radius: 100%;
      @include border;
      .circle {
        width: 12px;
        height: 12px;
        border-radius: 100%;
        transform: scale(0);
        transition: 300ms all;
      }
    }
    label {
      cursor: pointer;
    }
    &.active {
      label {
        color: var(--pink);
      }
      .circle {
        background-color: var(--pink);
        transform: scale(1);
      }
    }
  }
}
