@import "@/styles/variables.scss";

@keyframes hide-cover {
  from {
    display: block;
    opacity: 1;
  }

  99% {
    display: block;
    @include z-index(loading-cover);
  }
  to {
    display: none;
    z-index: -1;
    opacity: 0;
  }
}

.main {
  display: grid;
  grid-template-columns: var(--editor-width) var(--preview-width);
  background-color: var(--white);
  min-height: 100svh; // check :

  @include medium {
    display: block;
    width: 100%;
    max-width: var(--editor-width);
  }
  .editor {
    position: relative;
    padding-bottom: 100px;
    margin-bottom: 50px;
  }

  &.isRending {
    @include flex-x;
    .editor {
      width: var(--editor-width);
    }
  }
}

.loading-cover {
  display: block;
  @include full($position: fixed);
  @include z-index(loading-cover);
  background-color: var(--white);
  @include flex;
  &.success {
    animation: hide-cover 500ms forwards;
  }
}
