@import "@/styles/variables.scss";

.main {
  display: grid;
  grid-template-columns: var(--editor-width) var(--preview-width);
  background-color: var(--white);
  min-height: 100svh;
  @include medium {
    display: block;
    width: 100%;
    max-width: var(--editor-width);
  }
  .editor {
    position: relative;
    padding-bottom: 100px;
    margin-bottom: 50px;
  }
}
