@import "@/styles/variables.scss";

.page {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
  .main {
    display: grid;
    grid-template-columns: var(--editor-width) var(--preview-width);
    background-color: var(--white);
    min-height: 100svh;
    .editor {
      position: relative;
      padding-bottom: 100px;
    }
  }
}
