@import "@/styles/variables.scss";
@import "@/styles/editor.scss";

.options {
  @include options-style;
  input {
    @include input-style;
    @include description-style;
    margin-bottom: 30px;
  }

  .explain-title {
    position: relative;
    cursor: pointer;
    .icon {
      @include absolute-y;
      right: 0;
      z-index: 10;
      @include flex;
      background-color: var(--white);
      @include wh-35;
      svg {
        font-size: 22px;
        color: var(--gray);
      }
    }
    @include action {
      svg,
      h4 {
        color: var(--blue);
      }
    }
    &.isOpen {
      svg {
        color: var(--blue);
        transform: rotateX(180deg);
      }
      h4 {
        color: var(--blue);
      }
    }
  }
  .explain {
    display: none;
    &.isOpen {
      display: block;
      padding: 10px;
    }
  }
}
