@import "@/styles/variables.scss";

@mixin qna {
  .qna-list {
    width: 100%;
    @include flex-col;
    gap: 15px;
    .title-wrapper {
      @include border-bottom;
      padding: 10px;
      @include flex-between;
      gap: 10px;

      .q {
        align-self: flex-start;
        display: flex;
      }

      .title-inner {
        width: 100%;

        .title,
        input {
          width: 100%;
          @include font-bold;
        }
        input {
          padding: 3px 5px;
        }

        .title {
          white-space: pre-line;
          word-break: break-all;
        }
      }

      .icon {
        padding: 5px;
        svg {
          font-size: 17px;
        }
      }
      .arrow {
        cursor: pointer;
        transition: transform 450ms;
      }
    }
    .content-layout {
      border-radius: 5px;
      background-color: var(--gray-softest);
      overflow: hidden;
      position: relative;
    }
    .list {
      width: 100%;
    }
  }
}

@include qna;

.content-layout {
  display: none;
}

.list.isOpen {
  .content-layout {
    padding: 10px;
    display: block;
  }
  .arrow {
    transform: rotateX(180deg);
  }
}

.title-inner {
  width: 100%;

  input {
    width: 100%;
    @include font-bold;
    padding: 3px 5px;
  }
}
